@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre);

.manoastudyhub-landing-background {
  background-color: #97C8EB;
  background-size: cover;
  color: white;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 50px;
}

h3, .styledHeader{
  font-family: 'Averia Serif Libre';
}

h1, h2, h3 {
  font-family: 'Averia Serif Libre';
  margin: 20px;
}

.searchBar {
  padding-bottom: 10px;
}

.manoastudyhub-calendar-background {
  background-color: #97C8EB;
  background-size: cover;
  height: 1300px;
  color: white;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 50px;
}

.calendar-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.calendar-app-top {
  margin: 0 0 3em;
}

.calendar-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}