@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre);

.manoastudyhub-landing-background {
  background-color: #97C8EB;
  background-size: cover;
  height: 700px;
  color: white;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 50px;
}

h3, .styledHeader{
  font-family: 'Averia Serif Libre';
}